
.row-content {
  padding:30px 60px 30px 60px;
}
.btn-tag{
  background:#00008B;
  color:white;
  border:none;
}
.classLabel{
  margin:30px;
}
.img-fit{
  height: 250px;
  width: 300px;
  padding:30px;
  object-fit:fill;
}

.center-items{
  display: flex;
  justify-content: center;
}
